* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

#editor_area {
    width: 100%;
    height: calc(100% - 70px);
}

.depth_area {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
}

.depth_node {
    width: 198px;
    height: 23px;
    background-color: gray;
    color: white;
    border: 1px solid black;
}

.task_node {
    width: 198px;
    height: 23px;
    background-color: white;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    overflow: scroll;
}

.task_node::-webkit-scrollbar {
    display: none;
}

#footer_area {
    width: 100%;
    height: 30px;
    text-align: center;
    margin: 10px 0px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}